@tailwind base;
@tailwind components;
@tailwind utilities;


/* scrollbar design */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* custom classes */
.ex-container {
  @apply max-w-7xl mx-auto px-2
}

.ex-form {
  @apply w-full outline-none py-3 px-2 bg-transparent ring-1 ring-slate-200 rounded-lg font-inter font-semibold
}

.ex-label {
  @apply font-inter font-semibold mb-2 inline-block
}

.active-link:focus {
  background-color: transparent !important;
  color: #0e7490 !important;
}

.form-validate-error {
  @apply text-red-700 font-bold mt-2
}

.ex-text-gradient {
  @apply bg-gradient-to-r from-rose-400 to-red-500 bg-clip-text text-transparent
}

.ex-btn {
  @apply rounded-full py-2 px-5 font-inter font-semibold cursor-pointer select-none
}

.ex-btn-primary {
  @apply bg-gradient-to-r from-cyan-500 to-blue-500 ex-btn
}

.dashboard-info-box {
  @apply ring-1 ring-slate-200 m-2 max-w-[180px] w-full p-5 h-24 flex justify-center items-center text-center font-semibold rounded-lg bg-white
}

.dashboard-links-style {
  @apply ring-1 ring-blue-300 bg-blue-100 w-64 h-40 flex justify-center items-center rounded-md
}

.dashboard-links-icon {
  @apply w-8 h-8 inline-block
}

.section-title {
  @apply font-concert text-2xl font-bold text-center ex-text-gradient
}